.container{
    margin-top: 23px;
    text-align: center;
  }
  table{
    margin: auto;
  }

  body {
      background-color: #e6dc81;
  }
  
  input {
      border-radius: 21px;
      font-size: 34px;
      width: 456px;
      height: 65px;
      border: 5px solid #101010;
  }
  button {
      font-size: 40px;
          background: #908292;
      width: 106px;
      height: 90px;
      border-radius: 20px;
      margin: 6px;
  }
  .calculator{
        border: 4px solid #175d69;
    background-color: #5ed8f7;
  padding: 23px;
  border-radius: 53px;
    display: inline-block;
  }