#container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }
  
  body {
    background-color: #c7f395; 
  }
  
  #circle {
   margin-left: 15%;
     position: absolute;
     width: 75%;
     height: 75%;
     background-color: #f13123;
     border-radius: 50%;
  }
  
  #small-circle {
     margin-top: 12%;
     margin-left: 12%;
     position: absolute;
     width: 75%;
     height: 75%;
     background-color: #e5e5e5;
     border-radius: 50%;
  }
  .minutes-container, .hours-container, .seconds-container {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
  }
  
  .hours {
   background: #000;
   height: 30%;
   left: 48.75%;
   position: absolute;
   top: 20%;
   width: 2.5%;
  }
  
  .minutes {
   background: #000;
   height: 40%;
   left: 49%;
   position: absolute;
   top: 10%;
   width: 2%;
  }
  
  .seconds {
   background: #000;
   height: 45%;
   left: 49.5%;
   position: absolute;
   top: 14%;
   transform-origin: 50% 80%;
   width: 1%;
   z-index: 8;
  }